tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style22
	{background:#79CBDF;
	mso-pattern:black none;
	color:#062228;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-style-name:"60% - Accent1";
	mso-style-id:32;}
.style25
	{color:#062228;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-style-name:"Explanatory Text";
	mso-style-id:53;}
.style17
	{text-align:general;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	color:#16505F;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-style-name:"Heading 1";
	mso-style-id:16;}
.style18
	{color:#22798E;
	font-size:14.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-style-name:"Heading 2";
	mso-style-id:17;}
.style23
	{mso-number-format:General;
	text-align:left;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	color:#22798E;
	font-size:14.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-style-name:"Heading 3";
	mso-style-id:18;}
.style27
	{mso-number-format:General;
	text-align:left;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	color:#22798E;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-style-name:"Heading 4";
	mso-style-id:19;}
.style0
	{text-align:general;
	vertical-align:top;
	white-space:normal;
	mso-rotate:0;
	color:#0F5766;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
.style19
	{mso-number-format:0%;
	mso-style-name:Percent;
	mso-style-id:5;}
.style21
	{background:#22798E;
	mso-pattern:black none;
	color:white;
	font-size:25.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid #A6DCEA;
	border-left:none;
	mso-style-name:Title;
	mso-style-id:15;}
.style26
	{mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	border-top:2.0pt double #2DA2BF;
	border-right:.5pt solid #2DA2BF;
	border-bottom:.5pt solid #2DA2BF;
	border-left:.5pt solid #2DA2BF;
	mso-style-name:Total;
	mso-style-id:25;}
.font0
	{color:#0F5766;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
.font27
	{color:#0F5766;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
.font28
	{color:windowtext;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
.font29
	{color:#0F5766;
	font-size:11.0pt;
	font-weight:400;
	font-style:italic;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
.font30
	{color:#3DAFA7;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
.font31
	{color:#3DAFA7;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
.font32
	{color:#2DA2BF;
	font-size:11.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
.font33
	{color:#0F5766;
	font-size:11.0pt;
	font-weight:700;
	font-style:italic;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
td
	{mso-style-parent:style0;
	padding:0px;
	mso-ignore:padding;
	color:#0F5766;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:top;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:normal;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	mso-number-format:"\0022$\0022\#\,\#\#0\.00";}
.xl66
	{mso-style-parent:style17;
	color:#16505F;
	font-size:12.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	vertical-align:middle;
	white-space:nowrap;}
.xl67
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;}
.xl68
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;
	vertical-align:middle;
	white-space:nowrap;}
.xl69
	{mso-style-parent:style0;
	mso-number-format:"_\)\@\\ \\ ";}
.xl70
	{mso-style-parent:style0;
	color:#76D7EB;
	font-size:10.0pt;
	text-align:right;
	white-space:nowrap;}
.xl71
	{mso-style-parent:style0;
	text-align:left;
	vertical-align:middle;
	white-space:nowrap;}
.xl72
	{mso-style-parent:style0;
	mso-number-format:"Short Date";
	text-align:center;
	vertical-align:middle;
	white-space:nowrap;}
.xl73
	{mso-style-parent:style0;
	background:#79CBDF;
	mso-pattern:black none;}
.xl74
	{mso-style-parent:style0;
	color:#A6DCEA;
	font-size:10.0pt;
	background:#79CBDF;
	mso-pattern:black none;}
.xl75
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;
	text-align:left;
	vertical-align:middle;
	white-space:nowrap;}
.xl76
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;
	text-align:left;
	vertical-align:bottom;
	white-space:nowrap;
	padding-left:105px;
	mso-char-indent-count:7;}
.xl77
	{mso-style-parent:style18;
	color:#22798E;
	font-size:14.0pt;
	white-space:nowrap;}
.xl78
	{mso-style-parent:style0;
	font-size:10.0pt;}
.xl79
	{mso-style-parent:style0;
	font-size:10.0pt;
	white-space:nowrap;}
.xl80
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;
	vertical-align:bottom;}
.xl81
	{mso-style-parent:style0;
	color:windowtext;
	font-size:9.0pt;
	vertical-align:bottom;}
.xl82
	{mso-style-parent:style0;
	color:#16505F;
	font-size:12.0pt;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #2DA2BF;
	border-left:none;
	white-space:nowrap;}
.xl83
	{mso-style-parent:style21;
	color:white;
	font-size:25.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid #A6DCEA;
	border-left:none;
	background:#22798E;
	mso-pattern:black none;
	white-space:nowrap;}
.xl84
	{mso-style-parent:style21;
	color:white;
	font-size:25.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid #A6DCEA;
	border-left:none;
	background:#22798E;
	mso-pattern:black none;}
.xl85
	{mso-style-parent:style21;
	color:white;
	font-size:25.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid #A6DCEA;
	border-left:none;
	background:#22798E;
	mso-pattern:black none;
	white-space:nowrap;
	padding-left:30px;
	mso-char-indent-count:2;}
.xl86
	{mso-style-parent:style0;
	mso-number-format:"_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
	text-align:right;
	vertical-align:middle;
	white-space:nowrap;}
.xl87
	{mso-style-parent:style0;
	mso-number-format:"_\(* \#\,\#\#0\.00_\)\;_\(* \\\(\#\,\#\#0\.00\\\)\;_\(* \0022-\0022??_\)\;_\(\@_\)";
	text-align:right;
	vertical-align:middle;
	white-space:nowrap;}
.xl88
	{mso-style-parent:style0;
	mso-number-format:"_\)\#\;_\)\#\;_\)\#\;_\)\@";
	text-align:left;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl89
	{mso-style-parent:style0;
	mso-number-format:"_\)\@\\ \\ ";
	text-align:left;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl90
	{mso-style-parent:style0;
	mso-number-format:"\#_\)";
	text-align:right;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl91
	{mso-style-parent:style0;
	mso-number-format:"_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl92
	{mso-style-parent:style26;
	color:black;
	font-weight:700;
	mso-number-format:"\@\\ \\ ";
	text-align:right;
	vertical-align:middle;
	border-top:2.0pt double #2DA2BF;
	border-right:.5pt solid #2DA2BF;
	border-bottom:.5pt solid #2DA2BF;
	border-left:.5pt solid #2DA2BF;
	background:#79CBDF;
	mso-pattern:black none;
	white-space:nowrap;}
.xl93
	{mso-style-parent:style22;
	color:#062228;
	background:#79CBDF;
	mso-pattern:black none;}
.xl94
	{mso-style-parent:style26;
	color:black;
	font-weight:700;
	mso-number-format:"_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
	text-align:right;
	vertical-align:middle;
	border-top:2.0pt double #2DA2BF;
	border-right:.5pt solid #2DA2BF;
	border-bottom:.5pt solid #2DA2BF;
	border-left:.5pt solid #2DA2BF;
	background:#79CBDF;
	mso-pattern:black none;
	white-space:nowrap;}
.xl95
	{mso-style-parent:style0;
	mso-number-format:"_\(\0022$\0022* \#\,\#\#0\.00_\)\;_\(\0022$\0022* \\\(\#\,\#\#0\.00\\\)\;_\(\0022$\0022* \0022-\0022??_\)\;_\(\@_\)";
	border:.5pt solid #2DA2BF;}
.xl96
	{mso-style-parent:style0;
	mso-number-format:"0\.00%_\)";
	border:.5pt solid #2DA2BF;}
.xl97
	{mso-style-parent:style0;
	mso-number-format:"_\(* \#\,\#\#0\.00_\)\;_\(* \\\(\#\,\#\#0\.00\\\)\;_\(* \0022-\0022??_\)\;_\(\@_\)";
	border:.5pt solid #2DA2BF;}
.xl98
	{mso-style-parent:style0;
	mso-number-format:"\@\\ \\ ";
	text-align:right;
	border:.5pt solid #2DA2BF;}
.xl99
	{mso-style-parent:style0;
	mso-number-format:"\@\\ \\ ";
	text-align:right;
	border-top:.5pt solid #2DA2BF;
	border-right:.5pt solid #2DA2BF;
	border-bottom:.5pt solid #2DA2BF;
	border-left:.5pt solid #1FAECD;}
.xl100
	{mso-style-parent:style0;
	mso-number-format:"_\(* \#\,\#\#0\.00_\)\;_\(* \\\(\#\,\#\#0\.00\\\)\;_\(* \0022-\0022??_\)\;_\(\@_\)";
	text-align:center;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:nowrap;}
.xl101
	{mso-style-parent:style0;
	color:windowtext;
	font-family:Calibri, serif;
	mso-font-charset:0;
	vertical-align:middle;
	white-space:nowrap;}
.xl102
	{mso-style-parent:style0;
	vertical-align:middle;
	white-space:nowrap;}
.xl103
	{mso-style-parent:style0;
	mso-number-format:"\@";
	white-space:nowrap;}
.xl104
	{mso-style-parent:style0;
	white-space:nowrap;}
.xl105
	{mso-style-parent:style0;
	mso-number-format:00000;
	white-space:nowrap;}
.xl106
	{mso-style-parent:style27;
	color:#22798E;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	white-space:nowrap;}
.xl107
	{mso-style-parent:style0;
	text-align:left;
	vertical-align:middle;}
.xl108
	{mso-style-parent:style0;
	vertical-align:middle;}
.xl109
	{mso-style-parent:style19;
	mso-number-format:Percent;
	vertical-align:middle;
	white-space:nowrap;}
.xl110
	{mso-style-parent:style0;
	mso-number-format:"\0022$\0022\#\,\#\#0\.00";
	vertical-align:middle;}
.xl111
	{mso-style-parent:style0;
	mso-number-format:"_\)\#\;_\)\#\;_\)\#\;_\)\@";
	text-align:left;
	vertical-align:middle;}
.xl112
	{mso-style-parent:style0;
	mso-number-format:"\[<=9999999\]\#\#\#\\-\#\#\#\#\;\\\(\#\#\#\\\)\\ \#\#\#\\-\#\#\#\#";
	vertical-align:middle;
	white-space:nowrap;}
.xl113
	{mso-style-parent:style0;
	mso-number-format:"\@";
	vertical-align:middle;}
.xl114
	{mso-style-parent:style0;
	mso-number-format:"_\(* \#\,\#\#0_\)\;_\(* \\\(\#\,\#\#0\\\)\;_\(* \0022-\0022_\)\;_\(\@_\)";
	vertical-align:middle;}
.xl115
	{mso-style-parent:style23;
	color:#22798E;
	font-size:14.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	white-space:nowrap;}
.xl116
	{mso-style-parent:style17;
	color:#16505F;
	font-size:12.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid #2DA2BF;
	border-left:none;
	white-space:nowrap;}
.xl117
	{mso-style-parent:style0;
	mso-number-format:"\@";
	vertical-align:middle;
	white-space:nowrap;}
.xl118
	{mso-style-parent:style21;
	color:white;
	font-size:25.0pt;
	font-weight:700;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	border-top:none;
	border-right:none;
	border-bottom:1.5pt solid #A6DCEA;
	border-left:none;
	background:#22798E;
	mso-pattern:black none;
	white-space:nowrap;}
.xl119
	{mso-style-parent:style22;
	color:#062228;
	background:#79CBDF;
	mso-pattern:black none;
	white-space:nowrap;}
.xl120
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;
	vertical-align:bottom;
	white-space:nowrap;}
.xl121
	{mso-style-parent:style0;
	color:windowtext;
	font-size:10.0pt;
	white-space:nowrap;}
.xl122
	{mso-style-parent:style0;
	color:#0D0D0D;
	font-size:10.0pt;
	font-family:Calibri;
	mso-generic-font-family:auto;
	mso-font-charset:0;}
.xl123
	{mso-style-parent:style0;
	color:#0D0D0D;
	font-size:10.0pt;
	font-family:Calibri;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	white-space:nowrap;}
.xl124
	{mso-style-parent:style0;
	color:#0D0D0D;
	font-size:10.0pt;
	font-family:Calibri;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:left;
	vertical-align:bottom;
	white-space:nowrap;}
.xl125
	{mso-style-parent:style0;
	color:#0F5766;
	vertical-align:bottom;
	mso-protection:unlocked visible;}
.xl126
	{mso-style-parent:style0;
	color:#0F5766;
	mso-number-format:"Short Date";
	text-align:left;
	vertical-align:bottom;}
.xl127
	{mso-style-parent:style0;
	color:#16505F;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:bottom;
	white-space:nowrap;}
.xl128
	{mso-style-parent:style0;
	color:#0F5766;
	vertical-align:bottom;}
.xl129
	{mso-style-parent:style0;
	color:#16505F;
	vertical-align:bottom;}
.xl130
	{mso-style-parent:style0;
	mso-number-format:"_\)\@\\ \\ ";
	vertical-align:middle;
	white-space:nowrap;}
.xl131
	{mso-style-parent:style0;
	text-align:center;
	vertical-align:middle;
	white-space:nowrap;}
.xl132
	{mso-style-parent:style0;
	mso-number-format:"\0022$\0022\#\,\#\#0\.00_\)\;\\\(\0022$\0022\#\,\#\#0\.00\\\)";
	vertical-align:middle;}
.xl133
	{mso-style-parent:style25;
	color:#062228;
	text-align:left;
	background:#D2EEF4;
	mso-pattern:black none;
	padding-left:15px;
	mso-char-indent-count:1;}
.xl134
	{mso-style-parent:style25;
	color:#062228;
	text-align:left;
	border-top:none;
	border-right:.5pt solid #2DA2BF;
	border-bottom:none;
	border-left:none;
	background:#D2EEF4;
	mso-pattern:black none;
	padding-left:15px;
	mso-char-indent-count:1;}
.xl135
	{mso-style-parent:style25;
	color:#062228;
	text-align:left;
	vertical-align:bottom;
	white-space:nowrap;
	padding-left:15px;
	mso-char-indent-count:1;}
.xl136
	{mso-style-parent:style25;
	color:#062228;
	text-align:left;
	vertical-align:bottom;
	border-top:none;
	border-right:.5pt solid #1FAECD;
	border-bottom:none;
	border-left:none;
	white-space:nowrap;
	padding-left:15px;
	mso-char-indent-count:1;}
.xl137
	{mso-style-parent:style22;
	color:#062228;
	text-align:left;
	vertical-align:bottom;
	border-top:1.5pt solid #DEF5FA;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:#79CBDF;
	mso-pattern:black none;}
.xl138
	{mso-style-parent:style22;
	color:#062228;
	text-align:left;
	background:#79CBDF;
	mso-pattern:black none;}
.xl139
	{mso-style-parent:style22;
	color:#062228;
	vertical-align:bottom;
	border-top:1.5pt solid #DEF5FA;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:#79CBDF;
	mso-pattern:black none;}
.xl140
	{mso-style-parent:style22;
	color:#062228;
	text-align:left;
	vertical-align:bottom;
	border-top:1.5pt solid #DEF5FA;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:#79CBDF;
	mso-pattern:black none;
	padding-left:30px;
	mso-char-indent-count:2;}
.xl141
	{mso-style-parent:style22;
	color:#062228;
	text-align:left;
	background:#79CBDF;
	mso-pattern:black none;
	padding-left:30px;
	mso-char-indent-count:2;}
.xl142
	{mso-style-parent:style17;
	color:#22798E;
	font-size:16.0pt;
	vertical-align:middle;
	white-space:nowrap;}
